.navbar-background{
    background-color: #417960!important;
    background: #417960;
    background: -webkit-linear-gradient(to right, #94caba, #417960);
    background: linear-gradient(to right, #94caba, #417960);
}
.topbar-myaccount{
    font-size: 28px;
    color: #d3e4dd;
}
